*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{	
	background-color: #f0f0f0 ;
	font-family: 'Montserrat', sans-serif;
	}

html{
	scroll-behavior: smooth;
}


/* HEADER */
.aviso{
	display: block;
	position: fixed;
	width: 100%;
	z-index: 1000000000;
	background-color: #333;
	padding: 2px;
	margin: auto;
	align-items: center;
	text-align: center;
}

.text-aviso{
	text-align: center;
	margin: auto;
	color: white;
	font-size: 14px;
	font-weight: 900;
}


.navbar-links li{
    list-style: none;
	float: left;
}

.navbar{
	width: 100%;
	display: flex;
	position:fixed;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.97);
	z-index: 10000;
	transition:none ;
	margin-top: 20px;
	-webkit-transition:none ;
	-moz-transition:none ;
	-ms-transition:none ;
	-o-transition:none ;
}



.links-nav:after {
	 position:relative;
	 bottom:-5px;
	 left:0;
	 display:block;
	 content:"";
	 width:100%;
	 height:2px;
	 background-color:#2a5bd7;
	 transform:scale3d(0,1,1);
	 transform-origin:center center;
	 transition:transform .3s;
	 -webkit-transition:transform .3s;
	 -moz-transition:transform .3s;
	 -ms-transition:transform .3s;
	 -o-transition:transform .3s;
}
.links-nav:hover:after {
	transform:scale3d(1,1,1);
	-webkit-transform:scale3d(1,1,1);
	-moz-transform:scale3d(1,1,1);
	-ms-transform:scale3d(1,1,1);
	-o-transform:scale3d(1,1,1);
	transition: 0.3s ;
	-webkit-transition: 0.3s ;
	-moz-transition: 0.3s ;
	-ms-transition: 0.3s ;
	-o-transition: 0.3s ;
}


.navbar-links a{
	color: #000000;
	/**!BAJARMRPARARESPONSIVE*/
	margin-right: 100px;
	display: block;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.accesorios{
	/**!BAJARMRPARARESPONSIVE*/
	padding-right: 80px;
}


.nav-responsive{
	display: none;
}



.navbar-links a:hover{
	color: #2a5bd7;
	text-shadow: rgba(0, 0, 0, 0.5);
}


.navbar-links li ul{
	display: none;
	position: absolute;
	min-width: 100px;
	background-color: rgb(248, 248, 248);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

.navbar-links li ul a{
	font-size: 14px;
	padding: 2px;
}

.navbar-links li:hover > ul{
	min-height: 10px;
	display: flex;
	flex-direction: column;
	line-height: 10px;
}

.navbar-links li ul li{
  position: relative;
  margin-right: -87px;
  padding: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
	

.navbar-links li ul li ul{
	right: -21px;
	top: 0;
}

.navbar img{
	margin-top: 0px;
    margin-left: 30px;
}

.show, .icon,  input{
	display: none;
}


/* MEDIAQUERIS NAVBAR*/
@media (max-width: 968px){
	.navbar-links{
		display: none;
	}

	.button{
	min-width: none;
	width: 33px;
	}


	.nav-responsive{
 	display: block;
	position: fixed;
	top: 56px;
	left: 86%;
	transform: translate(-50%, -50%);
	background: #fff;
	min-width: 90px;
	line-height: 40px;
	padding: 2px 10px;
	border-radius: 5px;
	z-index: 100000;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
}

@media (max-width:1280px){
	.navbar-links li{
		margin-right: -15px;
	}
}

@media (max-width:1126px){
	.navbar-links a{
		margin-right: 67px;
	}
	.navbar-links li:hover > ul{min-width: 195px;}
	.navbar-links li ul li {margin-right: -176px;}
}

.nav-responsive label{
  color: white;
  font-size: 25px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
.button span{
	color: black;
  float: right;
  line-height: 40px;
  transition: 0.5s;
}
.button span.rotate{
  transform: rotate(-180deg);
}
.nav-responsive ul{
  position: absolute;
	background: #1b1b1bfa;
	list-style: none;
	top: 75px;
	left: -178px;
	width: 282%;
	border-radius: 5px;
	display: none;
}
[id^=btn]:checked + ul{
  display: block;
}
.nav-responsive .menu:before{
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background: #1b1b1b;
  right: 20px;
  top: -10px;
  transform: rotate(45deg);
  z-index: -1;
}
.nav-responsive ul li{
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.nav-responsive ul li label{
  font-size: 14px;
}
.nav-responsive ul li a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: block;
}
.nav-responsive ul li a:hover,
.nav-responsive ul li label:hover{
  color: #2a5bd7;
}
.nav-responsive ul ul{
  position: static;
  width: 108%;
}
.nav-responsive ul ul li{
  line-height: 30px;
  padding-left: 30px;
  border-bottom: none;
}
.nav-responsive ul ul li a{
  color: #e6e6e6;
  font-size: 14px;
}
.nav-responsive ul li span{
  font-size: 20px;
  float: right;
  margin-top: 10px;
  padding: 0 10px;
  transition: 0.5s;
}
.nav-responsive ul li span.rotate{
  transform: rotate(-180deg);
}
input{
  display: none;
}

/* Boton Whatsapp */
.btn-wsp{
	position: fixed;
	width: 55px;
	height: 55px;
	line-height: 55px;
	bottom: 40px;
	right: 30px;
	background-color: #0df053;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 30px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
	z-index: 100000;
	transition: 0.3s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.btn-wsp:hover{
	background-color: #0fb844;
}

/* BOTON BACK */
.btn-back{
	position: fixed;
    top: 122px;
    left: 20px;
    font-size: 30px;
}

.btn-back img:hover{
    scale: 1.05;
}

@media (max-width:768px){
    .btn-back{
        display: block;
        position: fixed;
        top: 122px;
        font-size: 30px;
        left: 10px;
        z-index: 9999999;
        background-color: white;
        border-radius: 50%;
        line-height: 12px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    .btn-back:hover{
        background-color:rgb(252, 252, 252) ;
    }
}


/* DARKMODE */
body.darkmode{
	background-color: #333;
	color: white;
}

.darkmode .aviso{
	background-color: #000;
}

.darkmode .navbar{
	background-color: #242424
}

.darkmode .navbar-links a{
	color: #fff;
}

.darkmode .txt_view{
	background-color: #333;
}

.darkmode paragraph_txt a{
	color: #28d728;
}

.darkmode .actionTxtType9 .paragraph_txt.right_txt{
	color: #fff;
}

.darkmode .actionTxtType9 .paragraph_txt{
	background-color: #333;
}

.darkmode .titulos{
	color: white;
}

.darkmode .flex-container-balanceado{
	background-color: #333;
}

.darkmode .otros{
	background-color: #333;
}

.darkmode .footer{
	background-color: #202020;
}

.darkmode .actionTxtType9 .paragraph_txt.left_txt{
	color: #fff;
}

.darkmode .links-nav::after {
	background-color: #fff;
}

.darkmode .txt_view{
	background-color: #333;
}

.darkmode .paragraph_txt a {color: #39cc39;}

.darkmode .paragraph_txt i {
  color: #39cc39;
}

.darkmode .svg-dark{
	display: inline-block;
}
.darkmode .svg-white{
	display: none;
}

.container-darkmode {
  position: absolute;
  display: flex;
  height: auto;
  top: 117px;
  right: 30px;
  justify-content: end;
}

.darkmode .navbar-links li ul {background-color: rgb(53, 53, 53);}

.darkmode .navbar-links li ul a:hover {color: #c9c9c9;}

.darkmode .nav-responsive {background: #242424;}

.darkmode .button span {
  color: white;
}

.darkmode .nav-responsive ul {
  background: #1b1b1bfa;
}

.darkmode .nav-responsive ul li a {
  color: white;
}
.darkmode .nav-responsive ul li a:hover {
  color: #2a5bd7;
}

.darkmode .nav-responsive label {
  color: white;
}
.darkmode .nav-responsive label:hover {
  color: #2a5bd7;
}

.darkmode .slider::after {background-color: rgb(255, 255, 255);}

.darkmode .slider {
  background-color: rgb(255, 255, 255);
}

.darkmode .nav-responsive .menu:before{
  background: #090909;
  }


 .darkmode .text-balanceado-responsive{
	color: white;
}

.darkmode .btn-back img{
	 filter: invert(100%) sepia(0%) saturate(16%) hue-rotate(285deg) brightness(105%) contrast(105%);
	 -webkit-filter: invert(100%) sepia(0%) saturate(16%) hue-rotate(285deg) brightness(105%) contrast(105%);
}

  @media (max-width: 768px){
	  .darkmode .btn-back {
	  background-color: #333;}
  }